body {
  background-color: #eef0f5e0;
  color: black;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 2em !important;
  margin: 52px 0 40px;
  text-transform: capitalize;
  color: #051c33;
}

h1 {
  font-family: "Lobster", "Josefin Sans", Helvetica, Arial, sans-serif;
  font-size: 4em !important;
  color: #051c33;
}


.formSearch{
  width: 500px;
  display: flex;
  margin: 0 auto 1%;

}

.formSearch button{
  padding: 0 10px;
  background-color: #051c33;
  border-radius: 0 0.5em 0.5em 0;
  display: none;
}

.formSearch button.active{
  display: inline;
  padding: 0 10px;
  background-color: #051c33!important;
  border-radius: 0 0.5em 0.5em 0;
}

.formSearch input{
  border-radius: 0.5em 0 0 0.5em;
  outline: none;
  background-color: #cfd8e0;
  border-right: none;
  border: 2px solid #a4b5c3;
  padding: 20px 10px;
  font-size: 1em;
  width: 100%;
}

.noInput{
  border-radius: 0.5em 0.5em 0.5em 0.5em!important;
}

.navNavi{
  width: 90%;
}
.navNavi > .ulNav > li{
  display: inline-block;
  font-size: 1.5em;
  padding: 0 5px;
  margin: 0 auto 1% 5%;
}

.navNavi > .ulNav > li > a{
  text-decoration: none;
  background-color: #051c33;
  color: white;
  border-radius: 0.5em 0.5em;
  width: 5em;
}

/**LOADING CSS*/

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}
.lds-ripple div {
  position: absolute;
  border: 7px solid #76defb;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

 /*END LOADING CSS*/


 /**CSS Gallary */
 .ulImg{
   display: flex;
   flex-flow: row wrap;
   width: 100%;
   justify-content: space-between;
   -ms-align-items: flex-start;
   align-items: flex-start;

 }


 .ulImg li{
  padding: 5% 3%;
  height: 20rem;
  overflow: hidden;
 }
 .ulImg li img{
  width: 100%;
  height: 12rem;
  transition: all .4s ease-in-out;
 }
 
 .card-body{
   height: 5rem;
 }

.ulImg li img:hover { transform: scale(1.1); }
 /**END Gallary*/

